/**
 * Project - Relaxation
 */

.relaxation {
  @extend %section;
  padding-top: 6rem;
  padding-bottom: 6rem;
  
  &__header {
    @extend %section__header;
  }

  &__heading {
    position: absolute;
    top: 0;
    left: 1.5rem;
    z-index: 10;
    width: 2.5rem;
    margin: 3rem 0 0;

    @media (min-width: breakpoint("md")) {
      width: 3rem;
      margin: 4.5rem 0 0;
    }
  }

  &__headingSub {
    position: absolute;
    top: 0;
    left: 4.5rem;
    width: 9rem;
    margin: 0;

    @media (min-width: breakpoint("md")) {
      left: 12rem;
      width: 18rem;
    }
  }

  &__headingImage {
    width: 24rem;
    margin: 6rem 0 0 6rem;

    @media (min-width: breakpoint("md")) {
      width: 48rem;
      margin: 7.5rem 0 6rem;
    }
  }

  &__headingImageSub {
    position: absolute;
    top: 15rem;
    left: 0;
    width: 8.25rem;
    margin: 0;

    @media (min-width: breakpoint("md")) {
      top: 25.5rem;
      width: 16.5rem;
    }
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6rem;

    @media (min-width: breakpoint("md")) {
      width: 30rem;
      margin: 0 0 6rem 33.33%;
    }
  }

  &__content {
    position: relative;
    width: 24rem;
    margin: 3rem 0 0 6rem;

    @media (min-width: breakpoint("md")) {
      width: 30rem;
      margin: 0;
    }
  }

  &__lead {
    font-size: 1.5rem;
  }

  &__text {
    line-height: 1.8;

    &.--small {
      font-size: .8rem;
    }
  }

  &__texture5 {
    position: absolute;
    right: .375rem;
    bottom: -16.67%;
    width: 4.5rem;

    @media (min-width: breakpoint("md")) {
      right: 3.75rem;
      bottom: 3.33%;
      width: 6rem;
    }
  }

  &__info {
    text-align: center;
  }

  &__shopname {
    font-size: 1.5rem;
  }

  &__textblock {
    display: inline-block;
  }

  &__cover {
    @extend %section__cover;
    z-index: -1;
    background-image: url("./assets/cover_4.png");
    background-size: auto 100%;
  
    @media (min-width: breakpoint("md")) {
      background-image: url("./assets/cover_4_md.png");
      background-size: auto 100%;
    }

    @media (min-width: 1200px) {
      background-image: url("./assets/cover_4_lg.png");
      background-size: auto 100%;
    }

    @media (min-width: 1440px) {
      background-size: cover;
    }
  }
}
