/**
 * Component - Slider
 */

.slider {
  position: relative;
  width: 30rem;
  height: 10rem;
  margin: 0;

  &__inner {
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    transform: translateX(0);
  }

  &__item {
    flex: 0 0 15rem;
    width: 15rem;
    height: 10rem;
    margin-top: 0;
    margin-bottom: 0;

    & > img {
      width: 15rem;
      height: 10rem;
      aspect-ratio: 3 / 2;
    }
  }

  &__prev, &__next {
    position: absolute;
    top: 107.5%;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    margin: auto;
    border: 0;
    border-radius: .75rem;
    background-color: #ffffff;
    color: $linkColor;
    text-align: center;
    box-shadow: 0 0 1rem rgba(127,127,127,.3);
    
    &:hover {
      color: $linkHoverColor;
    }
  }

  &__prev {
    left: 35%;
  }

  &__next {
    right: 35%;
  }
}
  
.sliderNav {
  display: flex;
  justify-content: center;
  height: 1rem;
  margin: .75rem auto;

  &__item {
    width: .5rem;
    height: .5rem;
    margin: .75rem;
    border-radius: 50%;
    background-color: $linkHoverColor;
    cursor: pointer;

    &:not(.--current) {
      background-color: $linkColor;
    }
  }

  &__maxIndex::before {
    content: "/";
  }
}
