/**
 * Layout - Footer
 */

.footer {
  padding: 3rem 1.5rem;
  background-color: themeColor("darkest");
  color: colorYiq(themeColor("darkest"));

  &__copyright {
    margin-bottom: 1.5rem;
    text-align: center;
  }
}
